/* PAGE FIVE */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* Nav style */
  nav ul li button {
    background-color: #fff;
    padding: 3px 7px;
  }

  /* two colored line */
  .colors {
    display: flex;
    height: 23px;
    margin: 50px 0;
    width: 100%;
  }
  
  .colors .first {
    flex: 7;
    background-color: #ffd050;
  }
  
  .colors .second {
    flex: 5;
    background-color: #592ea9;
  }

  /* Content Style */
  .content {
    padding: 0 100px;
    margin: 40px 0;
  }
  
   /* Page5 Body Style */
   .heroimage5 {
    position: relative;
  }  
  .heroimage5 h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    color: white;
    position: absolute;
    top: 400px;
    justify-content: center;
    left: 80px;
    width: 70%;
  }
  
  .pictext1, .pictext2, .pictext3, .pictext4, .pictext5, .pictext6 {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .pictext1 h3, .pictext2 h3, .pictext3 h3, .pictext4 h3, .pictext5 h3, .pictext6 h3{
    color: #232536;
    height: 40px;
    margin-left: 15px;
  }

  /* Footer style */
  .footer {
    background-color: #232536;
    padding: 40px;
  }
  .footer .contact {
    display: flex;
    background-color: rgba(128, 128, 128, 0.096);
    width: 80%;
    padding: 60px 40px;
    margin: 20px auto;
  }
  .footer .contact h5 {
    width: 60%;
    height: 48px;
    color: white;
  }
  
  .info {
    padding: 10px;
    width: 80%;
    margin: 0% auto;
  }
  
  #button {
    width: 100px;
    height: 40px;
    background-color: yellow;
  }
  
  .footer .info .left h6 {
    color: white;
  }
  
  #form {
    color: rgba(128, 128, 128, 0.096);
    width: 45%;
    height: 56px;
  }
  
  .info .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .brands i {
    margin-left: 10px;
  }

 /* Media Query */
@media screen and (max-width: 768px) {
  .navbar-brand img {
    width: 106px;
    height: 80px;
  }

  .heroimage5 h2 {
    font-weight: 500; 
    font-size: 6vw;
    padding-top: 30px;
    top: 18%;
  }
  .content{
      padding: 10px 15px;
  }
  
  .content .colors, .content {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
  }
  .heroimage5, .content .colors, .content p {
      flex-direction: column;
      padding: 5px;
  }

  .content .pictext1, .content .pictext2, .content .pictext3, .content .pictext4, .content .pictext5, .content .pictext6 {
    flex-direction: column;
  }
  
  .pictext1 h3, .pictext2 h3, .pictext3 h3, .pictext4 h3, .pictext5 h3, .pictext6 h3{
    text-align: center;
    margin-bottom: 10px;
  }
  
  .content .colors {
      margin-bottom: 10px;
  }
 
  .footer{
      padding: 15px;
  }
  .footer div{
      flex-direction: column;
      padding: 15px;
   }
  
  .footer button {
      margin-left: 5px;
  }
  .footer .info{
    margin-bottom :120px;
  }
  #form {
    width: 100%;
  }
}